---
interface Monitor {
    change: number;
    color: string;
    image: string | null;  // El campo image puede ser null
    last_update: string;
    percent: number;
    price: number;
    price_old: number;
    symbol: string;
    title: string;
  }
  
  interface Data {
    datetime: {
      date: string;
      time: string;
    };
    monitors: {
      activo: Monitor;
      bancamiga: Monitor;
      banesco: Monitor;
      banplus: Monitor;
      bdv: Monitor;
      bnc: Monitor;
      bvc: Monitor;
      cny: Monitor;
      eur: Monitor;
      exterior: Monitor;
      mercantil_banco: Monitor;
      mi_banco: Monitor;
      otras_instituciones: Monitor;
      plaza: Monitor;
      provincial: Monitor;
      rub: Monitor;
      sofitasa: Monitor;
      try: Monitor;
      usd: Monitor;
    };
  }
  
  const response = await fetch('http://pydolarve.org/api/v1/dollar?page=bcv', {
    method: 'GET',
    headers: {
      'Authorization': 'Bearer 2x9Qjpxl5F8CoKK6T395KA',
    },
  });
  
  const data: Data = await response.json();
  const { datetime, monitors } = data;
  
  ---
  
  <div class="p-10 bg-gray-800 text-white rounded-xl mt-6">
    <!-- Fecha y Hora de la actualización -->
    <div class="text-center mb-8">
      <h2 class="text-2xl font-bold">Tasas de Cambio por Banco</h2>
      <p>{datetime.date} - {datetime.time}</p> <!-- Fecha y hora de la actualización -->
    </div>
  
    <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
      <!-- Mostrar cada monitor de tasas de cambio en columnas -->
      {Object.values(monitors).map((monitor: Monitor) => (
        <div class="bg-zinc-900 p-6 rounded-xl shadow-md">
          <h2 class="text-3xl font-bold">{monitor.title}</h2>
          {monitor.image ? (
            <img src={monitor.image} alt={`${monitor.title} logo`} class="w-16 my-3" />
          ) : (
            <div class="w-16 h-16 bg-gray-700 my-3 rounded-full flex items-center justify-center">
              <span class="text-xl font-bold">N/A</span>
            </div>
          )}
          <p class="text-2xl">Precio: {monitor.price} Bs.</p>
          <p class="text-lg">
            Cambio: <span class={`font-bold text-${monitor.color}`}>{monitor.change} {monitor.symbol}</span>
          </p>
          <p class="text-sm">Porcentaje: {monitor.percent}%</p>
          <p class="text-sm">Precio anterior: {monitor.price_old} Bs.</p>
          <p class="text-sm text-gray-400">Última actualización: {monitor.last_update}</p>
        </div>
      ))}
    </div>
  </div>
  
  <style>
    /* Estilos adicionales para personalizar la presentación en diferentes dispositivos */
  </style>
  